#loader {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: all;
}

@media screen and (max-width: 320px) {
  #loader {
    height: 75%;
  }
}

.loader {
  /* Estilos responsive */
  justify-content: center;
  flex-direction: column;
}

.loader > img {
  width: 25%;
}

@media screen and (max-width: 425px) {
  .loader > img {
    width: 15%;
  }
}

.loader > p {
  font-size: 2rem;
  font-weight: bold;
}
