#loader {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: all;
}

.loader {
  /* Estilos responsive */
  justify-content: center;
  flex-direction: column;
}

.loader > img {
  width: 25%;
}

.loader > p {
  font-size: 2rem;
  font-weight: bold;
}
