.personaje {
  width: 100%;
  /* Estilos responsive */
  flex-direction: column;
}

.personaje > img {
  width: var(--char-img-width);
}

.personaje > img.no-image {
  width: var(--char-no-img-width);
  background-color: transparent;
  filter: invert(1);
}

.personaje > .info {
  width: var(--info-width);
}

.personaje > .info > div {
  border-left: var(--yellow-border);
  border-right: var(--yellow-border);
  border-bottom: var(--yellow-border);
  padding: 2rem;
  /* Estilos responsive */
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.personaje .field {
  width: 100%;
}

.personaje .label {
  width: 50%;
  font-weight: bold;
  /* Estilos responsive */
  justify-content: right;
}

.personaje .value {
  width: 50%;
  /* Estilos responsive */
  justify-content: left;
}

.personaje .transformations {
  /* Estilos responsive */
  align-items: end;
  flex-wrap: wrap;
}

.personaje .transformations > li {
  width: 30%;
}

.personaje .transformations img {
  width: 100%;
}

.personaje .transformations img.no-image {
  width: 35%;
  background-color: transparent;
  filter: invert(1);
}
