@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

:root {
  --black-color: rgb(50, 50, 50);
  --white-color: rgb(255, 255, 255);
  --yellow-color: rgb(253, 216, 30);
  --orange-color: rgb(217, 66, 20);
  --yellow-border: 0.25rem solid var(--yellow-color);
}
/* Anchuras y tamaño de la fuente */

@media screen and (max-width: 425px) {
  :root {
    --header-img-width: 10%;
    --menu-home-width: 50%;
    --menu-width: 100%;
    --list-width: 100%;
    --char-img-width: 50%;
    --char-no-img-width: 20%;
    --info-width: 85%;
    font-size: 6px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  :root {
    --header-img-width: 7.5%;
    --menu-home-width: 45%;
    --menu-width: 100%;
    --list-width: 90%;
    --char-img-width: 40%;
    --char-no-img-width: 15%;
    --info-width: 75%;
    font-size: 9px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --header-img-width: 6.5%;
    --menu-home-width: 35%;
    --menu-width: 100%;
    --list-width: 90%;
    --char-img-width: 35%;
    --char-no-img-width: 13.5%;
    --info-width: 65%;
    font-size: 9px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  :root {
    --header-img-width: 4.5%;
    --menu-home-width: 25%;
    --menu-width: 75%;
    --list-width: 75%;
    --char-img-width: 25%;
    --char-no-img-width: 10%;
    --info-width: 50%;
    font-size: 9px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2559px) {
  :root {
    --header-img-width: 4.5%;
    --menu-home-width: 25%;
    --menu-width: 75%;
    --list-width: 75%;
    --char-img-width: 25%;
    --char-no-img-width: 10%;
    --info-width: 50%;
    font-size: 12px;
  }
}

@media screen and (min-width: 2560px) {
  :root {
    --header-img-width: 3.5%;
    --menu-home-width: 20%;
    --menu-width: 55%;
    --list-width: 55%;
    --char-img-width: 15%;
    --char-no-img-width: 6%;
    --info-width: 35%;
    font-size: 12px;
  }
}

/* Estilos generales iniciales */
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Delius', sans-serif;
  font-size: 1.5rem;
  color: var(--white-color);
  background-color: var(--black-color);
}

/* Estilos responsive iniciales */
.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

/* Estilos generales */

.oculto {
  display: none;
}

.negrita {
  font-weight: bold;
}

/* Anchura mínima */
body {
  min-width: 426px;
}

h2 {
  padding: 2rem;
  font-size: 2.5rem;
}

h3 {
  padding: 1rem;
  padding-right: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--orange-color);
  background-color: var(--yellow-color);
  position: relative;
  cursor: pointer;
}

h3::after {
  content: '〉';
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.2s ease;
}

h3.opened::after {
  transform: translateY(-50%) rotate(-90deg);
}

li {
  list-style-type: none;
}

a {
  font-weight: bold;
  color: var(--yellow-color);
  text-decoration: none;
  transition: all 0.35s;
}

a:hover {
  color: var(--orange-color);
}

/* Cuerpo principal de la página */

.contenido {
  height: calc(100vh - 17.5rem);
  padding: 2rem 4rem;
  overflow-y: auto;
  /* Estilos responsive */
  justify-content: start;
  flex-direction: column;
}

.contenido:has(.menu-home, .error) {
  /* Estilos responsive */
  justify-content: center;
}

.contenido > section:not(.filter) {
  width: 100%;
}

/* Listado de personajes */

.personajes {
  width: var(--list-width);
  /* Estilos responsive */
  justify-content: space-evenly;
  align-items: end;
  flex-wrap: wrap;
}

.personajes > li {
  width: 22.5%;
}

.personajes a {
  width: 100%;
  border: var(--yellow-border);
  border-radius: 1rem;
  padding: 1rem;
}

.personajes a:hover {
  color: var(--orange-color);
  background-color: var(--yellow-color);
}

/* Filtrado de personajes sin resultados */

.no-characters,
.no-characters > div {
  height: 100%;
}

.no-characters > div > p {
  font-size: 3.5rem;
  font-weight: bold;
}

/* Página de error */

.error > p {
  font-size: 3.5rem;
  font-weight: bold;
}
